* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1d3557, #457b9d);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
}

.profile {
    margin-bottom: 20px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 0.1px solid #000000;
    object-fit: cover;
}

.bio {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #e0e0e0;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}

.links a:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

.links a i {
    font-size: 1.5rem;
    margin-left: 10px;
}


footer {
    margin-top: 20px;
    font-size: 0.9rem;
}